@model ShoppingCartVM

<form method="post">
    <br />
    <div class="container">
        <div class="card shadow border-1">
            <!-- HEADER: Title and Continue Shopping -->
            <div class="card-header bg-secondary bg-gradient ml-0 py-3">
                <div class="row px-2 align-items-center">
                    <div class="col-6 col-md-4">
                        <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-light btn-sm text-uppercase"><i class="bi bi-arrow-left"></i> &nbsp;Continue Shopping</a>
                    </div>
                    <div class="col-4 col-md-4 text-end text-center">
                        <h5 class="pt-2">
                            Shopping Cart
                        </h5>
                    </div>
                    <div class="col-md-4 d-none d-md-block"></div>
                </div>
            </div>
            <div class="card-body my-1">
                <partial name="_CartPartialView" model="Model" />
            </div>
    </div>
    </div>
</form>

<script>
     function updateCart(url) {
        fetch(url,{
            method: 'POST',
		}).then(async response => {
            if(response.ok){
				document.getElementById('cart-view-container').innerHTML = await response.text();
                reloadCart();
            }else{
				console.error('Error updating cart:', response.statusText);
            }
        });
	}
    function reloadCart(){
        fetch('/Customer/Cart/ReloadCartIcon',{
            method: 'GET',
        }).then(async response =>{
            if(response.ok){
                document.getElementById('cart-container').innerHTML = await response.text();
            }else{
                console.error('Error updating cart:', response.statusText);
            }
        });
    }
</script>