html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.product-card {
    transition: transform .18s ease, box-shadow .18s ease;
}

    .product-card:hover {
        transform: translateY(-5px) scale(1.01);
        box-shadow: 0 10px 25px rgba(0,0,0,0.12);
    }


.divider-text:before,
.divider-text:after{
    color:white;
    content:"";
    flex:1;
    border-bottom:1px solid #555;
    margin: auto 0.25rem;
    box-shadow: 0-2px;
}

/* Remove arrows/spinners from number input */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}